# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Virtual environments
.env
.venv/
env/
venv/
ENV/

# Distribution / packaging
*.egg-info/
dist/
build/

# Logs
*.log

# IDE configs
.vscode/
.idea/
